/*.title{
    color: rgb(177, 126, 224);
    font-size: 64px;
}

.bgred{
    background-color: rgb(138, 49, 49);
}

.bgblue{
    background-color: rgb(32, 32, 90);
}*/

.boton{
    background-color: rgb(194, 105, 90);
    border-radius: 5px;
    width: 150px;
    height: 150px;
    font-size: 20px;
}

.navegacion{
    display: inline-block;
    background-color: maroon;
    color: aliceblue;
    font-size: 26px;
    text-decoration: none;
    width: 100%;
    height: 200px;
}

a, a:link{
    text-decoration: none;
    color: aliceblue;
}